*{
    padding:0
}
.form-container{
    padding: 20px 30px;
    margin: 300px 50px 0;
    display: flex;
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.form {
    display: flex;
    justify-content: center;
}
.form form{
    display:flex;
    row-gap: .2rem;
    flex-direction:column;
}