* {
  font-family: "Poppins";
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dde5f4;
}

.screen-1  {
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
  transform: translate(0%, 2%);
  -webkit-transform: translate(0%, 2%);
  -moz-transform: translate(0%, 2%);
  -ms-transform: translate(0%, 2%);
  -o-transform: translate(0%, 2%);
}
/* the form of the login page */
.screen-1 form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
/* the form of the signup page */
.screen-1 .signup-form {
  display:flex;
  flex-direction: column;
  row-gap: 2rem;
}
.screen-1 .signup-form>div:first-child {
  padding: 50px;
}
.screen-1 .logo {
  margin-top: -3em;
}
/* to the login page */
.screen-1 .Loginform .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: -3em;
}
/* to the signup page */
.screen-1 .signup-form .email
{
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.screen-1 .signup-form div>div {
  width:235px;
  height: 100px;
} 
.screen-1 .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password , .screen-1 .Name , .screen-1 .Address , .screen-1 .Number {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  color: #4d4d4d;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.screen-1 .password input , .screen-1 .Name input , .screen-1 .Address input , .screen-1 .Number input ,.screen-1 .Address select ,.screen-1 .email input {
  outline: none;
  border: none;
  width: 85%;
}
.screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .login {
  padding: 1em;
  background: #78c8ee;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
}
.screen-1 .footer span {
  cursor: pointer;
}

button {
  cursor: pointer;
}
/* the buttons of the signup page */
.carousel-control-prev ,.carousel-control-next {
    height: 40px;
    margin-top: 25%;
}
.carousel-control-prev-icon ,.carousel-control-next-icon {
  background-color: black;
}
/* something added when the input data is incorrect  */
.error {
  margin-top: -6rem;
}
/* .errorsigup {
  padding: 10px;
} */
