<!-- https://codepen.io/jlalovi/details/bIyAr -->
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/Graphs.css">

</head>
<body>
<div class="container">
    <!-- DONUT CHART BLOCK (LEFT-CONTAINER) --> 
    <div class="donut-chart-block block"> 
                      <h2 class="titular">OS AUDIENCE STATS</h2>
                      <div class="donut-chart">
   <!-- PORCIONES GRAFICO CIRCULAR
        ELIMINADO #donut-chart
        MODIFICADO CSS de .donut-chart -->
        <div id="porcion1" class="recorte"><div class="quesito ios"></div></div>
       <div id="porcion2" class="recorte"><div class="quesito mac"></div></div>
       <div id="porcion3" class="recorte"style="transform: rotate(90deg)" ><div class="quesito win" style="transform: rotate(180deg)"></div></div>
       <div id="porcionFin" class="recorte"><div class="quesito linux" ></div></div>
   <!-- FIN AÑADIDO GRÄFICO -->
                              <p class="center-date">JUNE<br><span class="scnd-font-color">2013</span></p>        
                      </div>
                      <ul class="os-percentages horizontal-list">
                          <li>
                              <p class="ios os scnd-font-color">iOS</p>
                              <p class="os-percentage">21<sup>%</sup></p>
                          </li>
                          <li>
                              <p class="mac os scnd-font-color">Mac</p>
                              <p class="os-percentage">39<sup>%</sup></p>
                          </li>
                          <li>
                              <p class="linux os scnd-font-color">Linux</p>
                              <p class="os-percentage">9<sup>%</sup></p>
                          </li>
                          <li>
                              <p class="win os scnd-font-color">Win</p>
                              <p class="os-percentage">31<sup>%</sup></p>
                          </li>
                      </ul>
                  </div>
                  
              </div>
</body>
</html>