<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/Graphs.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/graphs.js"></script>
    <title>Document</title>
</head>
<body style="background-color: aliceblue;">
  <style>
    .buttons{
      display: flex;
    column-gap: 10px;
    }
  </style>
  <div style="display: flex;justify-content: center; align-items: center; flex-direction: column; row-gap: 1.5rem;">
    {%if Type=="Department"%}
    <h1 class="text-center">The Departments</h1>
    <table class="table table-hover table-dark" style="width: 80%; margin:auto">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Dpartment name</th>
            <th scope="col">manager</th>
            <th scope="col">Start Date</th>
          </tr>
        </thead>
        <tbody>
          {%for Department in Data%}
            <tr>
              <th scope="row">{{Department[0]}}</th>
              <td>{{Department[1]}}</td>
              <td>{{Department[2]}}</td>
              <td>{{Department[3]}}</td>
              <td><a class="btn btn-danger" href="/DeleteDepartment/{{Department[0]}}"><i class="fas fa-trash-alt"></i> Delete</a> <a class="btn btn-success" href="/EditDepartment/{{Department[0]}}"><i class="fas fa-edit"></i>Edit</a> </td>
            </tr>
            {%endfor%}
        </tbody>
      </table>
      <a href="/AdminProfile/Departments/Insert" class="btn btn-success">insert Department</a>
  {%elif Type=="Employee"%}
  <h1 class="text-center">The Employees</h1>
  <table class="table table-hover table-dark"style="width: 80%; margin:auto">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">Age</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Join date</th>
        <th scope="col">Department id</th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
      {%for employee in Data%}
      <tr>
        <th scope="row">{{employee[0]}}</th>
        <td>{{employee[1]}} {{employee[2]}}</td>
        <td>{{employee[3]}}</td>
        <td>{{employee[4]}}{{employee[5]}}</td>
        <td>{{employee[6]}}/{{employee[7]}}/{{employee[8]}}</td>
        <td>{{employee[9]}}</td>
        <td>{{employee[10]}}</td>
        <td>{{employee[12]}}</td>
        <td>{{employee[13]}}</td>
        {%if employee[14]=='D' %}
        <td>Doctor</td>
        {%elif employee[14]=='N' %}
        <td>Nurse</td>
        {%elif employee[14]=='E'%}
        <td>Employee</td>
        {%endif%}
        <td class="buttons"><a class="btn btn-danger" href="/DeleteEmployee/{{employee[0]}}"><i class="fas fa-trash-alt"></i> Delete</a> <a class="btn btn-success" href="/EditEmployee/{{employee[0]}}"><i class="fas fa-edit"></i>Edit</a> </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <a href="/AdminProfile/Employees/Insert" class="btn btn-success">insert Employee</a>
  {%elif Type=="Rooms"%}
  <h1 class="text-center">The Rooms</h1>
  <table class="table table-hover table-dark"style="width: 80%; margin:auto">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Last Stay</th>
        <th scope="col">Available</th>
        <th scope="col">Department id</th>
      </tr>
    </thead>
    <tbody>
      {%for Room in Data%}
      <tr>
        <th scope="row">{{Room[0]}}</th>
        <td>{{Room[1]}}</td>
        <td>{{Room[2]}}</td>
        {%if Room[3]=='A' %}
        <td>Available</td>
        {%else%}
        <td>not available</td>
        {%endif%}
        <td class="buttons"><a class="btn btn-danger" href="/DeleteRoom/{{Room[0]}}"><i class="fas fa-trash-alt"></i> Delete</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <a href="/AdminProfile/Rooms/Insert" class="btn btn-success">insert Room</a>
  {%elif Type=="Patient"%}
  <h1 class="text-center">The Patients</h1>
  <table class="table table-hover table-dark"style="width: 80%; margin:auto">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">Age</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      {%for patient in Data%}
      <tr>
        <th scope="row">{{patient[0]}}</th>
        <td>{{patient[1]}} {{patient[2]}}</td>
        <td>{{patient[3]}}</td>
        <td>{{patient[4]}}{{patient[5]}}</td>
        <td>{{patient[6]}}/{{patient[7]}}/{{patient[8]}}</td>
        <td>{{patient[9]}}</td>
        <td>{{patient[10]}}</td>
        <td>{{patient[11]}}</td>
        <td>{{patient[12]}}</td>
        <td>{{patient[13]}}</td>
        <td class="buttons"><a class="btn btn-danger" href="/DeletePatient/{{patient[0]}}"><i class="fas fa-trash-alt"></i> Delete</a> </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>


  {%elif Type=="Statistics"%}
  <div class="donut-chart-block block"> 
    <h2 class="titular">Number of Doctors of each department</h2>
    <div class="donut-chart">
      {%for i in range(number1)%}
      <div id="{{i}}" id="porcion3" class="recorte"><div id="{{i+360}}" class="quesito ios"></div></div>
      <script>
        setlocations("{{Data1[i]}}","{{Data1[i+1]-Data1[i]}}","{{i}}","{{i+360}}")
      </script>
      {%endfor%}        
        </div>
        <ul class="os-percentages horizontal-list">
          {%for i in range(number1)%}
            <li>
              <script>  
                setColor("{{i+360}}")
              </script>
                <p class="os">{{Depart1[i]}}</p>
                <p class="os-percentage">{{(Data1[i+1]-Data1[i])*100/360}}<sup>%</sup></p>
            </li>
          {%endfor%}
        </ul>
  </div>


  <div class="donut-chart-block block"> 
    <h2 class="titular">Number of patients of each Doctor</h2>
    <div class="donut-chart">
      {%for i in range(number2)%}
      <div id="{{i+720}}" id="porcion3" class="recorte"><div id="{{i+1080}}" class="quesito ios"></div></div>
      <script>
        setlocations("{{Data2[i]}}","{{Data2[i+1]-Data2[i]}}","{{i+720}}","{{i+1080}}")
      </script>
      {%endfor%}
      <p class="center-date"><br><span class="scnd-font-color"></span></p>        
        </div>
        <ul class="os-percentages horizontal-list">
          {%for i in range(number2)%}
            <li>
                <p class="os">{{Doct[i]}}</p>
                <p class="os-percentage">{{(Data2[i+1]-Data2[i])*100/360}}<sup>%</sup></p>
            </li>
          {%endfor%}
        </ul>
  </div>


  <div class="donut-chart-block block"> 
    <h2 class="titular">Number of patients of each Department</h2>
    <div class="donut-chart">
      {%for i in range(number3)%}
      <div id="{{i+1440}}" id="porcion3" class="recorte"><div id="{{i+1800}}" class="quesito ios"></div></div>
      <script>
        setlocations("{{Data3[i]}}","{{Data3[i+1]-Data3[i]}}","{{i+1440}}","{{i+1800}}")
      </script>
      {%endfor%}
      <p class="center-date"><br><span class="scnd-font-color"></span></p>        
        </div>
        <ul class="os-percentages horizontal-list">
          {%for i in range(number3)%}
            <li>
                <p class="os">{{Depart2[i]}}</p>
                <p class="os-percentage">{{(Data3[i+1]-Data3[i])*100/360}}<sup>%</sup></p>
            </li>
          {%endfor%}
        </ul>
  </div>

  



  {%elif Type=="Donation"%}
  <h1 class="text-center">The Waiting Donations</h1>
  <table class="table table-hover table-dark"style="width: 80%; margin:auto">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Donation Date</th>
        <th scope="col">Donation Type</th>
        <th scope="col">Doner ID</th>
      </tr>
    </thead>
    <tbody>
      {%for Don in Data%}
        {%if Don[4]=='W'%}
          <tr>
            <th scope="row">{{Don[0]}}</th>
            <td>{{Don[1]}} </td>
            <td>{{Don[2]}} </td>
            <td>{{Don[3]}} </td>
            
            <td class="buttons"><a class="btn btn-success" href="/acceptDonation/{{Don[0]}}"><i class="fas fa-trash-alt"></i> Accept</a><a class="btn btn-danger" href="/rejectDonation/{{Don[0]}}"><i class="fas fa-trash-alt"></i> Reject</a> </td>
          </tr>
        {%endif%}
      {%endfor%}
    </tbody>
  </table>
  <h1 class="text-center">The Completed Donations</h1>
  <table class="table table-hover table-dark"style="width: 80%; margin:auto">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Donation Date</th>
        <th scope="col">Donation Type</th>
        <th scope="col">Doner ID</th>
      </tr>
    </thead>
    <tbody>
      {%for Don in Data%}
        {%if Don[4]=='D'%}
          <tr>
            <th scope="row">{{Don[0]}}</th>
            <td>{{Don[1]}} </td>
            <td>{{Don[2]}} </td>
            <td>{{Don[3]}} </td>
          </tr>
        {%endif%}
      {%endfor%}
    </tbody>
  </table>
  <h1 class="text-center">The Canceled Donations</h1>
  <table class="table table-hover table-dark"style="width: 80%; margin:auto">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Donation Date</th>
        <th scope="col">Donation Type</th>
        <th scope="col">Doner ID</th>
      </tr>
    </thead>
    <tbody>
      {%for Don in Data%}
        {%if Don[4]=='C'%}
          <tr>
            <th scope="row">{{Don[0]}}</th>
            <td>{{Don[1]}} </td>
            <td>{{Don[2]}} </td>
            <td>{{Don[3]}} </td>
          </tr>
        {%endif%}
      {%endfor%}
    </tbody>
  </table>
  
  {%endif%}
  <a href="/AdminProfile/Dashboard" class="btn btn-success" style="border-radius: 5px;">Dashboard</a>
  </div>
  
</body>
</html>